@font-face{
    font-family: z;
    src: url(../include/grafia/Sweet\ Hipster.ttf)
}

body{
    background-color: rgb(153, 168, 253);
}

.container{
    width: 70%;
    height: 1300px;
    background-size: 100% 100%;
    border-radius: 10px;
    border-spacing: 10px;
}

h1{
    font-family: z;
    font-size: 100px;
    color: hsl(211, 100%, 41%);
    text-shadow: 3px 3px rgb(7, 0, 110);
}

a{
    font-family: z;
    font-size: 35px;
    color: hsl(211, 100%, 41%);
    text-shadow: 1px 1px rgb(7, 0, 110);
}

h6{
    color: rgb(7, 0, 110);
    text-shadow: 1px 1px  hsl(211, 100%, 41%);
}

#carouselExampleControls{
    border: 4px solid hsl(211, 100%, 41%);
    border-radius: 5px;
}

#codigo_zoo{
    border-radius: 10px;
    border-color: hsl(211, 100%, 41%);
}

#nombre_zoo{
    border-radius: 10px;
    border-color: hsl(211, 100%, 41%);
}

#direccion_zoo{
    border-radius: 10px;
    border-color: hsl(211, 100%, 41%);
}

#tel_zoo{
    border-radius: 10px;
    border-color: hsl(211, 100%, 41%);
}


